---
---
<footer id="footer" style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: #fff; padding: 10px 20px; text-align: center;">
  <p>Copyright © 2024 Miriel Systems All Rights Reserved.</p>
</footer>
